<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http:mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ischoolbar.programmer.dao.admin.DiseaseDao">

    <!-- 疾病信息列表 -->
    <resultMap id="diseaseResultMap" type="Disease">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="phone" property="phone"/>
        <result column="gender" property="gender"/>
        <result column="address" property="address"/>
        <result column="diseaseName" property="diseaseName"/>
        <result column="diseaseInfo" property="diseaseInfo"/>
    </resultMap>

    <!-- 按疾病ID修改疾病信息 -->
    <update id="updateDiseaseInfoById" parameterType="Disease">
        update tb_disease
        set username = #{username},
        name = #{name},
        age = #{age},
        phone = #{phone},
        gender = #{gender},
        address = #{address},
        diseaseName = #{diseaseName},
        diseaseInfo = #{diseaseInfo}
        where id = #{id}
    </update>

    <!-- 查询全部疾病信息 -->
    <select id="findAllDiseaseInfo" resultMap="diseaseResultMap">
        select * from tb_disease
    </select>

    <!-- 按用户名查找疾病 -->
    <select id="findDiseaseInfoByUserName" parameterType="String" resultMap="diseaseResultMap">
        select * from tb_disease where username = #{username}
    </select>

    <!-- 按疾病ID删除疾病信息 -->
    <delete id="deleteDiseaseInfoById" parameterType="int">
        delete from tb_disease where id = #{id}
    </delete>

    <!-- 插入疾病信息 -->
    <insert id="saveDiseaseInfo" parameterType="Disease">
        insert into tb_disease(id,username,name,age,phone,gender,address,diseaseName,diseaseInfo)
        values(null,#{username},#{name},#{age},#{phone},#{gender},#{address},#{diseaseName},#{diseaseInfo})
    </insert>
</mapper>